* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    color-scheme: dark;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --deep-blue: #00224D;
    --deep-purple: #5D0E41;
    --almost-red: #A0153E;
    --red: #FF204E;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
}

h1 {
    margin-top: 3rem;
    text-align: center;
    z-index: 10;
}

main {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    & .main-container {
        margin-top: 3rem;
        width: inherit;
        max-width: 1200px;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: center;
        gap: 1.5rem;
        padding: 1rem;
    }

    & .image-section {
        width: inherit;
        height: inherit;
        grid-area: 1 / 1 / span 1 / span 3;

        & .image-section__basic {
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;
            padding: 1rem;
            border-radius: 8px;
            width: inherit;
            height: fit-content;
            background: #232424;

            & span {
                font-size: 2rem;
                opacity: 0.5;
            }
        }

        & .loading-image img {
            width: 40px;
            height: 40px;
        }
    }

    & .aside-buttons-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & .button-section .generator-button {
        grid-area: 1 / 3 / span 1 / span 4;
        width: 100%;
        padding: 1rem 2rem;
        font-size: 0.9rem;
        font-weight: bold;
        background: var(--deep-purple);
        outline: none;
        border: none;
        border-radius: 8px;
        cursor: pointer;

        &:focus {
            box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25);
            background-color: var(--deep-blue);
        }

        &:hover {
            background: var(--deep-blue);
        }
    }

    & .filter-button-container {
        display: flex;
        gap: 1rem;
    }
}

footer {
    margin-top: 3rem;
    z-index: 10;

    & .footer-section {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;

        & span {
            opacity: 0.7;
        }

        & span a {
            color: var(--almost-red);
        }

        & .footer-section__github-icon {
            a {
                text-decoration: none;
                opacity: 0.7;
                color: #fff;

                &:hover {
                    color: var(--almost-red);
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            & img {
                width: 20px;
            }
        }
    }
}

.filter-button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;

    & .anime-genres-select {
        margin-top: 10px;
        width: 100%;
        border-radius: 8px;
        padding: 0.5rem;
        opacity: 0.7;
        outline: none;
        border: none;
    }

    & .filter-button {
        width: 100%;
        padding: 1rem 2rem;
        font-size: 0.9rem;
        font-weight: bold;
        background: var(--deep-purple);
        outline: none;
        border: none;
        border-radius: 8px;
        cursor: pointer;

    &:focus {
        box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25);
        background-color: var(--deep-blue);
    }

    &:hover {
        background: var(--deep-blue);
    }
    }
}

/* API call success response styles elements */
.anime-img-ok {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    & .anime-img-ok__info-container {
        padding: inherit;
        width: 50%;

        & .info-container__synopsis {
            margin-top: 0.5rem;    
            overflow: auto;     
        }
    }

    & .anime-image {
        padding: inherit;
        width: 50%;
        height: inherit;
    }
}

.loading-icon {
    color: var(--deep-purple);
}

/* Blur Circles */
.blur-circle {
    position: fixed;
    border-radius: 50%;
    filter: blur(150px);
    opacity: 0.3;
    z-index: 0;
}

.circle-1 {
    width: 400px;
    height: 400px;
    background-color: var(--almost-red);
    top: 20%;
    left: -200px;
}

.circle-2 {
    width: 400px;
    height: 400px;
    background-color: var(--deep-blue);
    top: 50%;
    right: -100px;
}
