* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    color-scheme: dark;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    font-size: 16px;
    --deep-blue: #00224D;
    --deep-purple: #5D0E41;
    --almost-red: #A0153E;
    --red: #FF204E;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 3rem;
    text-align: center;
}

main {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .main-container {
        margin-top: 3rem;
        width: inherit;
        max-width: 1200px;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: center;
        gap: 1.5rem;
        padding: 1rem;
    }

    & .image-section {
        width: inherit;
        height: inherit;
        grid-area: 1 / 1 / span 1 / span 3;

        & .image-section__basic {
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;
            padding: 1rem;
            border-radius: 8px;
            width: inherit;
            height: fit-content;
            background: #232424;

            & span {
                font-size: 2rem;
                opacity: 0.5;
            }
        }

        & .loading-image img {
            width: 40px;
            height: 40px;
        }
    }

    & .button-section .generator-button {
        grid-area: 1 / 3 / span 1 / span 4;
        width: 100%;
        padding: 1rem 2rem;
        font-size: 0.9rem;
        font-weight: bold;
        background: var(--deep-purple);
        outline: none;
        border: none;
        border-radius: 8px;
        cursor: pointer;

        &:focus {
            box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25);
            background-color: var(--deep-blue);
            transform: scale(1.03);
        }

        &:hover {
            background: var(--deep-blue);
        }
    }
}

footer {
    margin-top: 3rem;

    & .footer-section {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
            opacity: 0.7;
        }

        & span a {
            color: var(--almost-red);
        }
    }
}

.hide-element {
    display: none;
}

/* API call success response styles elements */
.anime-img-ok {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    & .anime-img-ok__info-container {
        padding: inherit;
        width: 50%;

        & .info-container__synopsis {
            margin-top: 0.5rem;    
            overflow: auto;     
        }
    }

    & .anime-image {
        padding: inherit;
        width: 50%;
        height: inherit;
    }
}

.loading-icon {
    color: var(--deep-purple);
}